#root {
    position: relative;
    min-height: 100vh;
    padding-bottom: 66px;
}
  
a {
    color: #212529 !important;
}

a:hover {
    text-decoration: none !important;
}

form label {
    margin-bottom: 0;
}

form .react-datepicker-wrapper input {
    width: 100%;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.navbar {
    padding: 0 !important;
}

.card-container {
    margin-top: 50px;
    margin-bottom: 20px;
}

.card-container .card-column {
    margin-bottom: 30px;
}

.detail-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* .carousel {
    margin-top: 56px;
} */

.carousel-item {
    height: 40vh;
}

.carousel-item img {
    height: 40vh;
    object-fit: cover;
}

.info-top-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.checkout-container {
    max-width: 350px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.checkout-container h3 {
    font-weight: 400;
}

.checkout-container .btn {
    background-color: #FF6363 !important;
    border-color: #FF6363 !important;
}

.checkout-container .fw-bold {
    font-weight: 700;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 72px;
}
  
@media only screen and (max-width: 991px) {
    .detail-section div[class*="col-"] {
        margin-bottom: 15px;
    }

    .detail-section div[class*="col-"]:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    #root {
        padding-bottom: 137px;
    }

    footer {
        height: 137px;
    }

    footer .container,
    footer .container .d-flex:first-child {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    footer .container .d-flex {
        justify-content: center;
        margin-bottom: 11px;
    }

    footer .container .d-flex:first-child {
        margin-bottom: 0;
        gap: 6px !important;
    }

    footer .container .d-flex.links {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 767px) {
    .card-container {
        margin-bottom: 35px;
    }
    
    .card-container .card-column {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .info-top-container {
        flex-wrap: wrap;
    }

}